* {
    margin: 0;
    padding: 0;
}
body{
    background-color: aquamarine;
}

.b1{
    background-color: red;
}
.bg-1{
    background-color: rgb(130, 244, 31);
}
header {
    display: flex;
    height: 10vh;
    font-size: 20px;
    justify-content: space-between;
}

.logo {
    height: 10vh;
    width: 10vw;
}

a {
    color: black;
    margin: 10px;
    text-decoration: none;
}

li {
    display: inline-block;
    /* color: antiquewhite; */
}
#dat{
    height: 500px;
    width: 500px;
}

ul {
    margin: 0 100px;
}
footer {
    display: flexbox;
    height: 5vh;
    background-color: black;
    color: antiquewhite;
    text-align: center;
}